/* Cores que serão usadas como padrão no site*/
:root {
    --vermelho: #e50914;
    --preta: #141414;


}
/* Renderiza todo documento, tornando padrão para qualquer navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Elementos básicos*/
body {
   background: var(--preta);
   font-family: 'Times New Roman', Times, serif;
   color: white;
}

header .container {
    display: flex;
    flex-direction: row; /*row é padrão*/
    align-items: center;
    justify-content: space-between; /*cria uma distacia entre os elementos*/   
}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;

}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
}

header nav a:hover {
    color: #FFF;
}

/* Filme principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('../img/capa-house.jpg');

    height: 400px;
    background-size: cover; /*a imagem pega toda area de cobertura*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao {
    margin-bottom: 90px;
}
.titulo {
    font-size: 40px;
}



